# Redis Password
REDIS_PASSWORD=______________________________

# Threat Intelligence API Keys
ABUSEIPDB_API_KEY=________________________________________________
OTX_API_KEY=______________________________________________________

# Optional: VirusTotal
VIRUSTOTAL_API_KEY=___________________________________________________
