# VM-2 Redis connection
VM2_PUBLIC_IP=_______________________
REDIS_PASSWORD=_______________________

# VM-4 PostgreSQL connection
VM4_PUBLIC_IP=_______________________
POSTGRES_PASSWORD=_____________________
